@import "../../style/shared.scss";

.collapse {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
  
    &-header {
      display: flex;
      justify-content: space-between;
      background-color: $primary-color;
      color: $secondary-color;
      padding: 0.5rem 1rem;
      border-radius: .3rem;
      cursor: pointer;
    }
  
    &-title {
      display: block;
      width: 600px;
    }
  
    &-icon {
      transition: transform 0.3s ease;
    }
  
    &-content {
      padding: 10px 20px;
      background-color: $secondary-bg-color;
      overflow: hidden;
      opacity: 0;
      transform: scaleY(0);
      height: 0px;
      transition: height 500ms ease, opacity 500ms ease, transform 500ms ease;
      transform-origin: top;
      margin-bottom: 10px;
    }
  
    ul {
      list-style-type: none;
      list-style-position: inside;
      margin: 2px;
      padding: 0px;
    }
  
    &.open &-icon {
      transform: rotate(180deg);
    }
  
    &.open &-content {
      height: auto;
      max-height: 1000px;  // Une valeur suffisamment grande pour couvrir la plupart des cas
      opacity: 1;
      transform: scaleY(1);
    }
  }