@import "../../style/shared.scss";

.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1240px;
}

.colored-logo{
    fill: $primary-color;
    width: 150px;
    min-width: 100%;
}

.home{
    margin: auto;
    max-width: 1240px;
}

.navigation ul{
    align-items: center;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.navigation li{
    list-style-type: none;
    margin: 1rem .5rem;
    color: $primary-color;
}

.active_navlink {
    border-bottom: 1px solid $primary-color;
}

.navigation a{
    text-decoration: none;
    font-size: 24px;
    color: $primary-color;
}



@media screen and (max-width: 768px) {

    .navigation a{
        text-transform: uppercase;
        font-size: 18px;
    }

    .colored-logo {
        width: 115px;
    }

    .navigation ul{
        padding-left: 10px;
      gap: 10px;
    }

    .navigation a{
        font-size: 12px;
    }

    .navigation li {
        margin: 0.5rem 0.2rem;
    }
}