@import "./shared.scss";

.logementAll {
    max-width: 1240px;
    width: 100%;
    margin: 25px auto;
}

.logementIntro {
    display: flex;
    flex-direction: column;
}

.logementCard {
    display: flex;
    flex-direction: column;
}

.logementTitle {
    font-size: 36px;
    margin: 25px 0px 0px 0px;
}

.logementLocation {
    font-size: 18px;
    margin: 0px;
}

.hostAndRating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 5px ;
    gap: 15px;
}

.rating {

    .star {
        color: $primary-color;
        padding-left: 5px;
    }

    .emptyStar {
        color: $third-color;
        padding-left: 5px;
    }
}



.logementHost {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 0 10px;
    justify-content: flex-end;
    padding: 0px;
    margin: 0px;

    img {
        border-radius: 50%;
        height: 64px;
        object-fit: cover;
        object-position: center;
        width: 64px;
    }
}

.logementTag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0.2rem;

    li {
        display: inline-block;
        background-color: $primary-color;
        border-radius: .5rem;
        color: $secondary-color;
        font-size: 15px;
        margin: 1rem 1rem 0 0;
        padding: .2rem 1.2rem;
}
}

.collapses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    margin-top: 1.2rem;

    .collapse {
        width: 47%;
    }
}

.logementWithoutCollapses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}