//Variables:
$primary-color: #FF6060;

$secondary-color: #FFF;

$primary-bg-color: #FFF;

$secondary-bg-color: #F6F6F6;

$bg-content: #F0F0F0;

//Fonts:
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html {
    min-height: 100%;
    margin: auto;
    font-size: 18px;
    color: $primary-color;
    font-family: 'Montserrat';
    background: $primary-bg-color;
}

a {
    font-family: 'Montserrat';
}