@import "../../style/shared.scss";

.logements {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 20px;
  padding: 30px;
  background-color: $secondary-bg-color;

}