.banner {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin: 40px auto;
    
    img {
        max-height: 180px;
        width: 100%;
        z-index: -1;
        border-radius: 15px;
        min-height: 100px;
        object-fit: cover;
        filter: brightness(60%);
      }

    h1 {
    color: white;
    margin-left: 1rem;
    position: absolute;
    }
}